/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

/*  * {
  border: solid 1px black;

} 
*/


* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px sans-serif, Helvetica, Arial;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #8085C1; text-decoration: none; }
a:hover   { color: #636B96; text-decoration: underline }
// a:visited { color: gray; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

//post titles
ul.posts li {
  line-height: 1.75em;
}

// date
ul.posts span {
  color: #aaa;
  font-family: "Courier New", monospace, Monaco;
  font-size: 80%;
}

li span {
  float: right;
  color: gray;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/



.site {
  font-size: 115%;
  text-align: justify;
  width: 38em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  font-size: 3em;
  margin-left: -1em;
  color: white;
  background-color: #FF96A7;
  padding: 0.06em 0.06em 0.05em 0.06em;
}

.site .header h1.title a:hover {
  color: gray;
  background-color: white;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1.3em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 85%;
  color: #C8C8C8;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: right;
  margin-right: 2em;
}

.site .footer .contact a {
  color: #9FA6F0;
  padding: 0 0 0 8px;
  margin: 0 0 0 auto;
}

.site .footer .contact a:hover {
  color: #636B96;
}

.site .footer p {
  display: inline-flex;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post a {
  color: white;
  background-color: #FF96A7;
  text-decoration: none;
  padding: 1px;
}

.post a:hover {
  color: gray;
  background-color: white;

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
