<div id="home">
  <ul class="posts">
    <%= @content |> Enum.map fn(post) ->
      """
      <li>
      <a href="#{Path.basename(post.path)}">#{post.frontmatter.title}</a><span>#{post.frontmatter.created}</span>
      </li>
      """
    end %>
  </ul>
</div>
